body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #EEE;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a, a:visited {
  color: #CCC;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 1.4rem;
}
